<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
    <add key="Digillect Build Tools" value="https://ci.appveyor.com/nuget/digillect-build-tools" />
    <add key="Digillect Object Model" value="https://ci.appveyor.com/nuget/digillect-object-model" />
  </packageSources>
</configuration>